/*
 Composr Telemetry

 http://opensource.org/licenses/cpal_1.0 Common Public Attribution License
*/

body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background: #f4f8ff;
}

h1 {
    color: #008589;
}

::-moz-selection, ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,th, td {
    border: 1px solid gray;
}

th, td {
    padding: 4px;
    vertical-align: middle;
    text-align: left;
}

tr:nth-child(even) {
    background: #eeeeee;
}

table table {
    background: #e4e8ef;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
